In [31]:
'''
MAIN PROMPT: Investigating if the age of a person has a higher chance of 
winning an Oscar or not for each category
'''
import pandas as pd

df = pd.read_csv("oscar_nominees.csv", encoding="latin1")
df

                            Title Winner    Award  Year
0                       Nomadland      Y  Picture  2020
1     Judas and the Black Messiah      N  Picture  2020
2                            Mank      N  Picture  2020
3                          Minari      N  Picture  2020
4           Promising Young Woman      N  Picture  2020
...                           ...    ...      ...   ...
2339                 Janet Gaynor      Y  Actress  1928
2340               Louise Dresser      N  Actress  1928
2341                 Janet Gaynor      N  Actress  1928
2342                 Janet Gaynor      N  Actress  1928
2343               Gloria Swanson      N  Actress  1928

[2344 rows x 4 columns]

In [32]:
# Drop Picture Category
df.drop(df[df["Award"] == "Picture"].index, inplace=True)

In [34]:
categoryList = set(df["Award"])
categoryList

{'Actor', 'Actress', 'Supporting Actor', 'Supporting Actress'}

In [37]:
# Put in ages of all people
from imdb import Cinemagoer

imdbAPI = Cinemagoer()

for category in categoryList:
    # print(f'{category} : {list(df[df["Award"] == category].index)}')
    lst = list(df[df["Award"] == category].index)

    for index in lst:

Supporting Actor : [18, 19, 20, 21, 22, 47, 48, 49, 50, 51, 75, 76, 77, 78, 79, 104, 105, 106, 107, 108, 133, 134, 135, 136, 137, 161, 162, 163, 164, 165, 189, 190, 191, 192, 193, 218, 219, 220, 221, 222, 247, 248, 249, 250, 251, 276, 277, 278, 279, 280, 306, 307, 308, 309, 310, 336, 337, 338, 339, 340, 361, 362, 363, 364, 365, 386, 387, 388, 389, 390, 411, 412, 413, 414, 415, 436, 437, 438, 439, 440, 461, 462, 463, 464, 465, 486, 487, 488, 489, 490, 511, 512, 513, 514, 515, 536, 537, 538, 539, 540, 561, 562, 563, 564, 565, 586, 587, 588, 589, 590, 611, 612, 613, 614, 615, 636, 637, 638, 639, 640, 661, 662, 663, 664, 665, 686, 687, 688, 689, 690, 711, 712, 713, 714, 715, 736, 737, 738, 739, 740, 761, 762, 763, 764, 765, 786, 787, 788, 789, 790, 811, 812, 813, 814, 815, 836, 837, 838, 839, 840, 861, 862, 863, 864, 865, 886, 887, 888, 889, 890, 911, 912, 913, 914, 915, 936, 937, 938, 939, 940, 961, 962, 963, 964, 965, 986, 987, 988, 989, 990, 1011, 1012, 1013, 1014, 1015, 1036, 1037, 1038, 1039, 1040, 1061, 1062, 1063, 1064, 1065, 1086, 1087, 1088, 1089, 1090, 1111, 1112, 1113, 1114, 1115, 1136, 1137, 1138, 1139, 1140, 1161, 1162, 1163, 1164, 1165, 1186, 1187, 1188, 1189, 1190, 1211, 1212, 1213, 1214, 1215, 1236, 1237, 1238, 1239, 1240, 1261, 1262, 1263, 1264, 1265, 1286, 1287, 1288, 1289, 1290, 1311, 1312, 1313, 1314, 1315, 1336, 1337, 1338, 1339, 1340, 1361, 1362, 1363, 1364, 1365, 1386, 1387, 1388, 1389, 1390, 1411, 1412, 1413, 1414, 1415, 1436, 1437, 1438, 1439, 1440, 1461, 1462, 1463, 1464, 1465, 1486, 1487, 1488, 1489, 1490, 1511, 1512, 1513, 1514, 1515, 1536, 1537, 1538, 1539, 1540, 1561, 1562, 1563, 1564, 1565, 1586, 1587, 1588, 1589, 1590, 1611, 1612, 1613, 1614, 1615, 1636, 1637, 1638, 1639, 1640, 1661, 1662, 1663, 1664, 1665, 1686, 1687, 1688, 1689, 1690, 1711, 1712, 1713, 1714, 1715, 1736, 1737, 1738, 1739, 1740, 1761, 1762, 1763, 1764, 1765, 1786, 1787, 1788, 1789, 1790, 1811, 1812, 1813, 1814, 1815, 1836, 1837, 1838, 1839, 1840, 1861, 1862, 1863, 1864, 1865, 1886, 1887, 1888, 1889, 1890, 1911, 1912, 1913, 1914, 1915, 1936, 1937, 1938, 1939, 1940, 1961, 1962, 1963, 1964, 1965, 1991, 1992, 1993, 1994, 1995, 2021, 2022, 2023, 2024, 2025, 2051, 2052, 2053, 2054, 2055, 2081, 2082, 2083, 2084, 2085, 2111, 2112, 2113, 2114, 2115, 2141, 2142, 2143, 2144, 2145, 2171, 2172, 2173, 2174, 2175, 2201, 2202, 2203, 2204, 2205]
Actor : [8, 9, 10, 11, 12, 37, 38, 39, 40, 41, 65, 66, 67, 68, 69, 94, 95, 96, 97, 98, 123, 124, 125, 126, 127, 151, 152, 153, 154, 155, 179, 180, 181, 182, 183, 208, 209, 210, 211, 212, 237, 238, 239, 240, 241, 266, 267, 268, 269, 270, 296, 297, 298, 299, 300, 326, 327, 328, 329, 330, 351, 352, 353, 354, 355, 376, 377, 378, 379, 380, 401, 402, 403, 404, 405, 426, 427, 428, 429, 430, 451, 452, 453, 454, 455, 476, 477, 478, 479, 480, 501, 502, 503, 504, 505, 526, 527, 528, 529, 530, 551, 552, 553, 554, 555, 576, 577, 578, 579, 580, 601, 602, 603, 604, 605, 626, 627, 628, 629, 630, 651, 652, 653, 654, 655, 676, 677, 678, 679, 680, 701, 702, 703, 704, 705, 726, 727, 728, 729, 730, 751, 752, 753, 754, 755, 776, 777, 778, 779, 780, 801, 802, 803, 804, 805, 826, 827, 828, 829, 830, 851, 852, 853, 854, 855, 876, 877, 878, 879, 880, 901, 902, 903, 904, 905, 926, 927, 928, 929, 930, 951, 952, 953, 954, 955, 976, 977, 978, 979, 980, 1001, 1002, 1003, 1004, 1005, 1026, 1027, 1028, 1029, 1030, 1051, 1052, 1053, 1054, 1055, 1076, 1077, 1078, 1079, 1080, 1101, 1102, 1103, 1104, 1105, 1126, 1127, 1128, 1129, 1130, 1151, 1152, 1153, 1154, 1155, 1176, 1177, 1178, 1179, 1180, 1201, 1202, 1203, 1204, 1205, 1226, 1227, 1228, 1229, 1230, 1251, 1252, 1253, 1254, 1255, 1276, 1277, 1278, 1279, 1280, 1301, 1302, 1303, 1304, 1305, 1326, 1327, 1328, 1329, 1330, 1351, 1352, 1353, 1354, 1355, 1376, 1377, 1378, 1379, 1380, 1401, 1402, 1403, 1404, 1405, 1426, 1427, 1428, 1429, 1430, 1451, 1452, 1453, 1454, 1455, 1476, 1477, 1478, 1479, 1480, 1501, 1502, 1503, 1504, 1505, 1526, 1527, 1528, 1529, 1530, 1551, 1552, 1553, 1554, 1555, 1576, 1577, 1578, 1579, 1580, 1601, 1602, 1603, 1604, 1605, 1626, 1627, 1628, 1629, 1630, 1651, 1652, 1653, 1654, 1655, 1676, 1677, 1678, 1679, 1680, 1701, 1702, 1703, 1704, 1705, 1726, 1727, 1728, 1729, 1730, 1751, 1752, 1753, 1754, 1755, 1776, 1777, 1778, 1779, 1780, 1801, 1802, 1803, 1804, 1805, 1826, 1827, 1828, 1829, 1830, 1851, 1852, 1853, 1854, 1855, 1876, 1877, 1878, 1879, 1880, 1901, 1902, 1903, 1904, 1905, 1926, 1927, 1928, 1929, 1930, 1951, 1952, 1953, 1954, 1955, 1981, 1982, 1983, 1984, 1985, 2011, 2012, 2013, 2014, 2015, 2041, 2042, 2043, 2044, 2045, 2071, 2072, 2073, 2074, 2075, 2101, 2102, 2103, 2104, 2105, 2131, 2132, 2133, 2134, 2135, 2161, 2162, 2163, 2164, 2165, 2191, 2192, 2193, 2194, 2195, 2223, 2224, 2225, 2226, 2245, 2246, 2247, 2262, 2263, 2264, 2276, 2277, 2278, 2287, 2288, 2289, 2290, 2291, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2322, 2323, 2324, 2325, 2326, 2336, 2337, 2338]
Actress : [13, 14, 15, 16, 17, 42, 43, 44, 45, 46, 70, 71, 72, 73, 74, 99, 100, 101, 102, 103, 128, 129, 130, 131, 132, 156, 157, 158, 159, 160, 184, 185, 186, 187, 188, 213, 214, 215, 216, 217, 242, 243, 244, 245, 246, 271, 272, 273, 274, 275, 301, 302, 303, 304, 305, 331, 332, 333, 334, 335, 356, 357, 358, 359, 360, 381, 382, 383, 384, 385, 406, 407, 408, 409, 410, 431, 432, 433, 434, 435, 456, 457, 458, 459, 460, 481, 482, 483, 484, 485, 506, 507, 508, 509, 510, 531, 532, 533, 534, 535, 556, 557, 558, 559, 560, 581, 582, 583, 584, 585, 606, 607, 608, 609, 610, 631, 632, 633, 634, 635, 656, 657, 658, 659, 660, 681, 682, 683, 684, 685, 706, 707, 708, 709, 710, 731, 732, 733, 734, 735, 756, 757, 758, 759, 760, 781, 782, 783, 784, 785, 806, 807, 808, 809, 810, 831, 832, 833, 834, 835, 856, 857, 858, 859, 860, 881, 882, 883, 884, 885, 906, 907, 908, 909, 910, 931, 932, 933, 934, 935, 956, 957, 958, 959, 960, 981, 982, 983, 984, 985, 1006, 1007, 1008, 1009, 1010, 1031, 1032, 1033, 1034, 1035, 1056, 1057, 1058, 1059, 1060, 1081, 1082, 1083, 1084, 1085, 1106, 1107, 1108, 1109, 1110, 1131, 1132, 1133, 1134, 1135, 1156, 1157, 1158, 1159, 1160, 1181, 1182, 1183, 1184, 1185, 1206, 1207, 1208, 1209, 1210, 1231, 1232, 1233, 1234, 1235, 1256, 1257, 1258, 1259, 1260, 1281, 1282, 1283, 1284, 1285, 1306, 1307, 1308, 1309, 1310, 1331, 1332, 1333, 1334, 1335, 1356, 1357, 1358, 1359, 1360, 1381, 1382, 1383, 1384, 1385, 1406, 1407, 1408, 1409, 1410, 1431, 1432, 1433, 1434, 1435, 1456, 1457, 1458, 1459, 1460, 1481, 1482, 1483, 1484, 1485, 1506, 1507, 1508, 1509, 1510, 1531, 1532, 1533, 1534, 1535, 1556, 1557, 1558, 1559, 1560, 1581, 1582, 1583, 1584, 1585, 1606, 1607, 1608, 1609, 1610, 1631, 1632, 1633, 1634, 1635, 1656, 1657, 1658, 1659, 1660, 1681, 1682, 1683, 1684, 1685, 1706, 1707, 1708, 1709, 1710, 1731, 1732, 1733, 1734, 1735, 1756, 1757, 1758, 1759, 1760, 1781, 1782, 1783, 1784, 1785, 1806, 1807, 1808, 1809, 1810, 1831, 1832, 1833, 1834, 1835, 1856, 1857, 1858, 1859, 1860, 1881, 1882, 1883, 1884, 1885, 1906, 1907, 1908, 1909, 1910, 1931, 1932, 1933, 1934, 1935, 1956, 1957, 1958, 1959, 1960, 1986, 1987, 1988, 1989, 1990, 2016, 2017, 2018, 2019, 2020, 2046, 2047, 2048, 2049, 2050, 2076, 2077, 2078, 2079, 2080, 2106, 2107, 2108, 2109, 2110, 2136, 2137, 2138, 2139, 2140, 2166, 2167, 2168, 2169, 2170, 2196, 2197, 2198, 2199, 2200, 2227, 2228, 2229, 2230, 2231, 2232, 2248, 2249, 2250, 2251, 2265, 2266, 2267, 2279, 2280, 2281, 2292, 2293, 2294, 2295, 2296, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2327, 2328, 2329, 2330, 2331, 2332, 2339, 2340, 2341, 2342, 2343]
Supporting Actress : [23, 24, 25, 26, 27, 52, 53, 54, 55, 56, 80, 81, 82, 83, 84, 109, 110, 111, 112, 113, 138, 139, 140, 141, 142, 166, 167, 168, 169, 170, 194, 195, 196, 197, 198, 223, 224, 225, 226, 227, 252, 253, 254, 255, 256, 281, 282, 283, 284, 285, 311, 312, 313, 314, 315, 341, 342, 343, 344, 345, 366, 367, 368, 369, 370, 391, 392, 393, 394, 395, 416, 417, 418, 419, 420, 441, 442, 443, 444, 445, 466, 467, 468, 469, 470, 491, 492, 493, 494, 495, 516, 517, 518, 519, 520, 541, 542, 543, 544, 545, 566, 567, 568, 569, 570, 591, 592, 593, 594, 595, 616, 617, 618, 619, 620, 641, 642, 643, 644, 645, 666, 667, 668, 669, 670, 691, 692, 693, 694, 695, 716, 717, 718, 719, 720, 741, 742, 743, 744, 745, 766, 767, 768, 769, 770, 791, 792, 793, 794, 795, 816, 817, 818, 819, 820, 841, 842, 843, 844, 845, 866, 867, 868, 869, 870, 891, 892, 893, 894, 895, 916, 917, 918, 919, 920, 941, 942, 943, 944, 945, 966, 967, 968, 969, 970, 991, 992, 993, 994, 995, 1016, 1017, 1018, 1019, 1020, 1041, 1042, 1043, 1044, 1045, 1066, 1067, 1068, 1069, 1070, 1091, 1092, 1093, 1094, 1095, 1116, 1117, 1118, 1119, 1120, 1141, 1142, 1143, 1144, 1145, 1166, 1167, 1168, 1169, 1170, 1191, 1192, 1193, 1194, 1195, 1216, 1217, 1218, 1219, 1220, 1241, 1242, 1243, 1244, 1245, 1266, 1267, 1268, 1269, 1270, 1291, 1292, 1293, 1294, 1295, 1316, 1317, 1318, 1319, 1320, 1341, 1342, 1343, 1344, 1345, 1366, 1367, 1368, 1369, 1370, 1391, 1392, 1393, 1394, 1395, 1416, 1417, 1418, 1419, 1420, 1441, 1442, 1443, 1444, 1445, 1466, 1467, 1468, 1469, 1470, 1491, 1492, 1493, 1494, 1495, 1516, 1517, 1518, 1519, 1520, 1541, 1542, 1543, 1544, 1545, 1566, 1567, 1568, 1569, 1570, 1591, 1592, 1593, 1594, 1595, 1616, 1617, 1618, 1619, 1620, 1641, 1642, 1643, 1644, 1645, 1666, 1667, 1668, 1669, 1670, 1691, 1692, 1693, 1694, 1695, 1716, 1717, 1718, 1719, 1720, 1741, 1742, 1743, 1744, 1745, 1766, 1767, 1768, 1769, 1770, 1791, 1792, 1793, 1794, 1795, 1816, 1817, 1818, 1819, 1820, 1841, 1842, 1843, 1844, 1845, 1866, 1867, 1868, 1869, 1870, 1891, 1892, 1893, 1894, 1895, 1916, 1917, 1918, 1919, 1920, 1941, 1942, 1943, 1944, 1945, 1966, 1967, 1968, 1969, 1970, 1996, 1997, 1998, 1999, 2000, 2026, 2027, 2028, 2029, 2030, 2056, 2057, 2058, 2059, 2060, 2086, 2087, 2088, 2089, 2090, 2116, 2117, 2118, 2119, 2120, 2146, 2147, 2148, 2149, 2150, 2176, 2177, 2178, 2179, 2180, 2206, 2207, 2208, 2209, 2210]